html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
canvas {
  display: block;
}

#calibrate {
  /* position: fixed; */
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: red;
  font-size: 3em;
}

.confidence {
  position: fixed;
  top: 10vw;
  left: 10vh;
  font-size: 5em;
  color: red;
}

button {
  margin: 0 0 0 1em;
  height: 2em;
}

input {
  margin: 0 0 0 1em;
}

#KNNPredict {
  display: flex;
}

#KNNPredict input {
  font-size: 1em;
  height: 1.3em;
  width: 2em;
  text-align: right;
}

#KNNPredict span {
  margin: 0.15em 0 0 0.25em;
}

#predict {
  font-size: 2em;
}

#result {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: red;
  font-size: 15em;
}
#confidence {
  /* position: fixed; */
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: red;
  font-size: 2em;
}
